.wrapper_produkte h1 {
    text-decoration: underline;
    width: fit-content;
    margin: 0;
}

.container_produkte {
    justify-content: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container_produkt {
    width: 250px;
    border: 3px solid black;
    margin: 5%;
    border-radius: 20px;
    padding: 3%;
}

.produkt_image_container {
    justify-content: center;
    height: 150px;
    border: 3px black solid;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.507);
    text-align: center;
    padding: 10px;
}