
<html lang="en">
<head>
    <title>Streusalzshop.de</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://static.vecteezy.com/system/resources/previews/001/194/635/large_2x/snowflake-png.png">
    {% block stylelink %}
        <link rel="stylesheet" href="../styles/main_style.css">
    {% endblock %}
</head>
<body>
{% include 'header.html.twig' %}
<main>
    <div class="wrapper">
        {% block h1 %}

        {% endblock %}
        {% block container %}

        {% endblock %}
    </div>
</main>
{% include 'footer.html.twig' %}
</body>
</html>

