
<footer>
    <a href="https://www.shopmacher.de/impressum/ ">Impressum </a>
    <a href="https://www.shopmacher.de/datenschutzerklaerung/ ">Datenschutzerklärung </a>
    <a href="../php/aboutus.php">About us </a>
 </footer>

