<header>
    <div class="headline">
       <p>❄ Streusalzshop.de</p>
    </div>
        <nav class="navigation">
            <div>
                <a href="../php/startseite.php">Startseite</a>
            </div>

            {% if username  is empty %}
                <div>
                    <a href="../php/index.php">Anmelden</a>
                </div>
            {% else %}

            {% endif %}

            <div>
                <a href="../php/aboutus.php"> About us</a>
            </div>
            {% if username  is empty %}

            {% else %}
            <div>
                <a href="../php/einkaufswagen.php">Einkaufswagen</a>
            </div>
            {% endif %}
            {% if admin == true %}
                <div>
                    <a href="../php/admin_page.php">Admin page</a>
                </div>
                {% else %}

            {% endif %}
            {% if username  is empty %}

            {% else %}
                <div>
                    <a href="../php/feedback.php">Feedback</a>
                </div>
                {% endif %}
        </nav>
    <div class="dropdown">
        <span>Benutzer</span>
        <div class="dropdown-content">
            <div class="user_container">
                <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDn65YiCWjptvAOCj6Y97hGtdCVKTDKVjImA&usqp=CAU" alt="" width="100px" height="100px"></div>
                <div>
                {% if username  is empty %}
                    <p id="user_info">Bitte melden sie sich an </p>
                    <a class="logout" href="../php/index.php">Anmelden</a>
                    {% else %}
                    <p id="user_info">Benutzer: {{ username }} <br> E-Mail: {{ email }} </p>
                    <a class="logout" href="../php/includes/logout.php">Abmelden</a>
                   {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>


