{% extends 'base.html.twig' %}
{% block stylelink %}
    <link rel="stylesheet" href="../styles/login_style.css">
    {{ parent() }}
{% endblock %}
{% block h1%}
    <h1>Anmelden</h1>
{% endblock %}
{% block container %}
    <form class="login" action="../php/index.php" method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="pw" placeholder="Passwort" required><br>
        <button type="submit" name="submit">Einloggen</button><br>
        <a href="../php/register.php">Noch keinen Account?</a><br>
        <a href="../php/password_reset.php">Passwort vergessen?</a>
    </form>
{% endblock %}
