{% extends 'base.html.twig' %}
{% block h1%}
    <h1>Passwort vergessen</h1>
{% endblock %}
{% block container %}
    <form action="../php/password_reset.php" method="POST">
        <input type="email" name="email" placeholder="Email" required><br>
        <button type="submit" name="submit">Zurücksetzen</button>
    </form>
{% endblock %}
