<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Account erstellen</title>
</head>
<body>
<div class=" wrapper_produkte">
    <h1>Account erstellen</h1>
    <form action="../php/register.php" method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="mail" placeholder="E-Mail" required  minlength="5"  ><br>
        <input type="password" name="pw" placeholder="Passwort" required minlength="8"   ><br>
        <input type="password" name="pw2" placeholder="Passwort wiederholen" required minlength="8" ><br>
        <button type="submit" name="submit">Erstellen</button>
    </form>
    <br>
    <a href="../php/index.php">Hast du bereits einen Account?</a>
</div>
</body>
</html>
