{% extends 'base.html.twig' %}
{% block stylelink %}
    <link rel="stylesheet" href="../styles/login_style.css">
    {{ parent() }}
{% endblock %}
{% block h1%}
    <h1>Account erstellen</h1>
{% endblock %}
{% block container %}
    <form class="login" action="../php/register.php" method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="mail" placeholder="E-Mail" required  minlength="5"  ><br>
        <input type="password" name="pw" placeholder="Passwort" required minlength="8"   ><br>
        <input type="password" name="pw2" placeholder="Passwort wiederholen" required minlength="8" ><br>
        <button type="submit" name="submit">Erstellen</button>  <br>
        <a href="../php/index.php">Hast du bereits einen Account?</a>
    </form>
{% endblock %}
