{% extends 'base.html.twig' %}
{% block h1%}
    <h1>Neues Passwort setzen</h1>
{% endblock %}
{% block container %}
    <form action="setpassword.php?token={{ token }} method="POST">
    <input type="password" name="pw1" placeholder="Password" required><br>
    <input type="password" name="pw2" placeholder="Password wiederholen" required><br>
    <button type="submit" name="submit">Passwort setzen</button>
    </form>
{% endblock %}
