    * {
        box-sizing: border-box;
    }
    
    body {
        background-image: url(https://cdn.pixabay.com/photo/2017/02/10/03/12/winter-2054297_960_720.jpg);
        background-size: 100%;
        padding: 0;
        margin: 0;
    }
    
    header {
        display: flex;
        height: 95px;
        justify-content: center;
        width: 100%;
    }
    
    header div {
        padding: 3px;
        border: black solid 2px;
        border-radius: 20px;
        height: fit-content;
        background-color: rgba(255, 255, 255, 0.623);
        font-style: italic;
        font-size: 40px;
    }
    
    .navigation {
        flex-wrap: wrap;
        font-style: italic;
        display: flex;
    }
    
    .navigation div {
        flex: 1;
        text-align: center;
        border-radius: 5px;
        font-size: 20px;
        border: black solid 2px;
    }
    
    .navigation div a {
        display: block;
        color: black;
        text-decoration: none;
    }
    
    .navigation div a:hover {
        text-decoration: underline;
        background-color: transparent;
        color: blue;
    }
    
    .dropdown {
        position: relative;
        background-color: rgb(255, 255, 255);
    }
    
    .dropdown span {
        border: 2px solid black;
        border-radius: 8px;
        width: max-content;
        position: absolute;
        right: 4px;
        padding: 2px;
        background-color: lightgray;
    }
    
    .dropdown span:hover {
        opacity: 30%;
    }
    
    .dropdown-content {
        order: 5;
        z-index: 1;
        border: 3px black solid;
        border-radius: 10px;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.791);
        right: 0;
        top: 15px;
    }
    
    .user_container {
        display: flex;
    }
    
    .logout {
        border: solid black 1px;
        background-color: red;
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 1%;
    }
    
    .logout:hover {
        text-decoration: underline;
        color: blue;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    main {
        display: flex;
        justify-content: center;
    }
    
    .wrapper{
        flex-direction: column;
        display: flex;
        background-color: rgba(240, 248, 255, 0.548);
        width: fit-content;
        height: fit-content;
        border: black 3px solid;
        border-radius: 20px;
        margin-left: 1%;
        margin-top: 3%;
        margin-right: 1%;
        padding: 1% 1% 1% 1%;
    }
    .wrapper h1 {
        width: fit-content;
        text-align: center;
        height: fit-content;
        text-decoration: underline;
    }
    
    footer {
        display: flex;
        justify-content: flex-start;
    }
    
    footer a {
        text-decoration: none;
        color: black;
        margin: 5px;
    }
    
    footer a:hover {
        text-decoration: underline;
        color: blue;
    }